body {
  background-color: black;
}

img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

em {
  font-size: 65px;
  font-weight: bold;
}

h2, h3, p, ol, h4 {
  color: grey;
}

li {
  font-size: 15px
}

a {
  color: black;
}

ul {
 list-style-type: none;
 color: grey;
}

ul li a {
  color: #FFCCFF;
  font-size: 13px;
  font-family: monospace;
  font-weight: bold;
}

blockquote {
  color: #FFCCFF;
}

.jumbotron {
  text-align: center;
}

.panel-body {
background: #FFCCFF;
}

.sidebar {
  float: right;
  border: solid #3a3a3a 3px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-right: 20px;
}

.synth {
  color: white;
}

.about img {
  border-radius: 20px;
  width: 92%;
  height: auto;
}

#link {
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: grey;
}
