body {
  background-color: black;
}

img {
  border-radius: 10px;
  width: 60%;
  height: auto;
}

h2 {
  color: grey;
}

a {
  color: black;
}

ul li a {
  color: #FFCCFF;
  font-size: 13px;
  font-family: monospace;
  font-weight: bold;
}

blockquote {
  color: #FFCCFF;
}

.panel-body {
background: #FFCCFF;
}

.about {
  color: grey;
}

.sidebar {
  float: right;
  border: solid #3a3a3a 3px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-right: 20px;
}

.synth {
  color: #FFCCFF;
}

#link {
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: grey;
}
